body {
  position: relative;
  background-color: #8C8D8E;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
h1 {
  color: #89D7ED;
  font-size: 4.5em;
  font-family: monospace;
  width: 552px;
  margin: 20px auto;
  background-color: rgba(0, 5, 1, 0.6);
}
h3 {
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  border-bottom: 1px solid #F0EE0B;
  padding-bottom: 10px;
  margin: 0 auto;
}
.timer {
  margin-bottom: 16px;
}
.timer_template {
  display: none;
}
.inputFields {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  display: table;
}
input {
  width: 150px;
  height: 50px;
  background-color: rgba(213, 189, 131, .1);
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin: 5px;
  font-family: monospace;

  border: 2px solid #fff;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}
input, select, textarea{
    color: #fff;
}
textarea:focus, input:focus {
    color: #fff;
}
button {
  /*width:55px;*/
  height: 30px;
  font-family: monospace;
  font-size: 1.3em;
  background-color: rgba(252, 249, 249, 0);
  border: 2px solid #FCF7F7;
  cursor: pointer;
  color: #fff;
}
button.hidden {
  display: none;
}
.controls {
  text-align: center;
  margin-top: 5px;
}
span {
  font-size: 2.5em;
}
#alertDisplay {
  font-family: monospace;
  font-size: 2em;
  color: rgb(242, 239, 5);
}
.closeTimer {
  border: 2px solid red;
  color: red;
  border-radius: 13px;
  height: 23px;
  width: 23px;
  display: inline-block;
  text-align: center;
  /*background-color: rgb(140, 141, 142);*/
  line-height: 24px;
  cursor: pointer;
  margin-top: 15px;
}
@media (max-width: 530px) {
  input {
    width: 105px;
    font-size: 1.8em;
  }
  h1 {
    font-size: 3em;
    width: 99%;
    margin: 20px auto;
  }
}
